<!DOCTYPE html>
<html>
<header>
    <meta name = "viewport" content="width=device-width, initial-scale=1" />
    <title>DUBLIN BIKES DATA</title>
    <link rel="stylesheet" href="static/style.css">
</header>
    
<body>
    <header>
        <h1>DUBLIN BIKES DATA</h1>
        <button id="station_30">Fetch Data</button>
        <button id="station_102">Fetch Data</button>
    </header>
    
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>  
    
    <div id="bike_info"></div>  
    <script src="static/main.js"></script>
    
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-RQTdlhzRiy56n3lYamt1VekvLk5tJFg&callback=initMap">
    </script>
</body>
</html>
